.features-list .heading, .works-section .title, .team-section .title, .team-list .heading, .clients-section .title {
  margin: 0;
  color: #212121;
}

.site-nav .list, .header-contacts .list, .features-list, .works-list, .team-list, .team-list .social-links, .clients-list, .footer-address .list, .footer-social .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav .link, .header-contacts .link, .footer-address .link, .copyright .link {
  text-decoration: none;
  cursor: pointer;
}

.form-checkbox, .features-section .title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .container, .hero .overlay, .features-section .container, .works-section .container, .team-section .container, .clients-section .container, .footer .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .header .container, .hero .overlay, .features-section .container, .works-section .container, .team-section .container, .clients-section .container, .footer .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header .container, .hero .overlay, .features-section .container, .works-section .container, .team-section .container, .clients-section .container, .footer .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container, .hero .overlay, .features-section .container, .works-section .container, .team-section .container, .clients-section .container, .footer .container {
    max-width: 1200px;
  }
}

.features-section, .works-section, .team-section, .clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section, .works-section, .team-section, .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.works-section .title, .team-section .title, .clients-section .title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero .button, .order-form .button, .subscription-form .button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  color: #2196f3;
}

.header .logo {
  color: #212121;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  cursor: pointer;
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item + .item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

.site-nav .link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.site-nav .link.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-contacts .item + .item {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .header-contacts .item + .item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts .item + .item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.header-contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover, .header-contacts .link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts .link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-contacts .icon,
.header-contacts .icon {
  margin-right: 10px;
  --color3: currentColor;
}

/* HERO */
.hero {
  text-align: center;
}

.hero .overlay {
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-mobile@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-mobile@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-tablet@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-tablet@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero .overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/page-main/hero/hero-desktop@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/page-main/hero/hero-desktop@3x.jpg);
  }
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 94px 15px;
  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 93px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    max-width: 528px;
  }
}

.is-hidden .modal {
  -webkit-transform: scale(1.2) translateX(-50%);
          transform: scale(1.2) translateX(-50%);
}

.modal .button-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: #2196f3;
}

.order-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.form-title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field.textarea {
  margin-bottom: 20px;
}

.form-field.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox .link {
  color: #2196f3;
}

.form-input,
.form-textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.14;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #2196f3;
}

.form-input {
  padding-left: 42px;
  padding-right: 18px;
}

.form-textarea {
  display: block;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
}

.form-field > .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .icon,
.form-input:not(:placeholder-shown) ~ .icon {
  fill: #2196f3;
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .icon-checkbox {
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 43px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.textarea .form-label {
  top: 12px;
  left: 17px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-27px, -37px);
          transform: translate(-27px, -37px);
  color: #2196f3;
  font-size: 12px;
}

.form-textarea:focus + .form-label,
.form-textarea:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #2196f3;
  font-size: 12px;
}

.order-form .button {
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features-list .item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list .item::before {
  display: block;
  margin-bottom: 30px;
  content: '';
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna:before {
  background-image: url("../images/page-main/features/antenna.svg");
}

.icon-clock:before {
  background-image: url("../images/page-main/features/clock.svg");
}

.icon-diagram:before {
  background-image: url("../images/page-main/features/diagram.svg");
}

.icon-astronaut:before {
  background-image: url("../images/page-main/features/astronaut.svg");
}

.features-list .heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  margin: 0;
}

/* WORKS */
@media screen and (max-width: 1199px) {
  .works-section {
    display: none;
  }
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-list .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.works-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-list .heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list > .item {
  padding-bottom: 24px;
  line-height: 1.18;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .team-list > .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list > .item {
    width: calc((100% - 30px) / 2);
  }
  .team-list > .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list > .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list > .item {
    width: calc((100% - 30px * 3) / 4);
  }
  .team-list > .item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team-list .image {
  margin-bottom: 30px;
}

.team-list .heading {
  margin-bottom: 10px;
}

.team-list .team-position {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
}

.team-list .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links .item:not(:last-child) {
  margin-right: 10px;
}

.social-links .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover, .social-links .link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-links .icon {
  --color2: currentColor;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-list .item {
  width: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list .item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover, .clients-list .link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-list .icon {
  --color2: currentColor;
}

.footer {
  color: #ffffff;
  background-color: #2f303a;
}

.info-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.footer-address .post-address {
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-address .item + .item {
  margin-top: 8px;
}

.footer-address .link {
  color: rgba(255, 255, 255, 0.6);
}

.call-text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social .item:not(:last-child) {
  margin-right: 10px;
}

.footer-social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .link:hover, .footer-social .link:focus {
  background-color: #2196f3;
}

.footer-social .icon {
  --color2: currentColor;
}

.copyright {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.copyright .link {
  color: currentColor;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription-form-field {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .subscription-form-field {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscription-form-field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form-field {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-form-input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-form-label {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-field:focus-within .subscription-form-label {
  display: none;
}

.subscription-form-input:not(:placeholder-shown) + .subscription-form-label {
  display: none;
}

.subscription-form .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form .icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */