// FOOTER
.footer {
  color: $white-color;
  background-color: $footer-bg-color;
}

.footer .container {
  @extend %container;
}

.info-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid $footer-border-color;

  text-align: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

// Footer contacts
.footer-contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}

.footer-address .list {
  @extend %list;
}

.footer-address .post-address {
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-address .item + .item {
  margin-top: 8px;
}

.footer-address .link {
  @extend %link;
  color: $footer-text-color;
}

.call-text {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social .list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.footer-social .item:not(:last-child) {
  margin-right: 10px;
}

.footer-social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $white-color;
  background-color: $footer-border-color;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social .icon {
  --color2: currentColor;
}

.copyright {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: $footer-copyright-color;

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.copyright .link {
  @extend %link;
  color: currentColor;
  font-family: $secondary-font;
  font-weight: 700;
}

// Subscription form
.subscription-form {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.subscription-form-field {
  position: relative;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-form-input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid $footer-input-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: transparent;
  color: $footer-text-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-form-label {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: $footer-text-color;

  .subscription-form-field:focus-within & {
    display: none;
  }
  .subscription-form-input:not(:placeholder-shown) + & {
    display: none;
  }
}

.subscription-form .button {
  @extend %button;
  display: inline-flex;
  align-items: center;
}

.subscription-form .icon {
  margin-left: 10px;
}
