// CLIENTS
.clients-section {
  @extend %section;
}

.clients-section .container {
  @extend %container;
}

.clients-section .title {
  @extend %heading;
  @extend %section-title;
}

.clients-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list .item {
  width: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  border: 1px solid $grey-color;
  border-radius: 4px;

  color: $grey-color;
  transition: border-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients-list .icon {
  --color2: currentColor;
}
