// Colors
$heading-text-color: #212121;
$main-text-color: #757575;

$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-copyright-color: rgba(255, 255, 255, 0.4);
$footer-input-color: rgba(255, 255, 255, 0.3);
$footer-border-color: rgba(255, 255, 255, 0.1);
$footer-bg-color: #2f303a;

$accent-color: #2196f3;
$white-color: #ffffff;
$grey-color: #afb1b8;

$dark-bg-color: rgba(47, 48, 58, 0.8);
$light-bg-color: #f5f4fa;

$border-card-color: #eeeeee;
$bordeer-header-color: #ececec;
$overlay-card-color: rgba(33, 150, 243, 0.9);

// Fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// Animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
